* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    justify-content: space-between;
}

header {
    background: #1f2937;
}

.header {
    background: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 900px;
    margin: 0 auto;
}

.header div {
    color: #f9faf8;
    font-size: 24px;
}

.header ul {
    font-size: 18px;
    color: #e5e7eb;
}

li {
    list-style-type: none;
}

.header ul {
    display: flex;
    gap: 16px;
}

.one-section {
    background: #1f2937;
    height: 60vh;
    display: flex;
    align-items: center;
}

.one-section-div {
    margin: 0 auto;
    max-width: 900px;
    color: white;
    display: flex;
    align-items: center;  
    gap: 10px;  
}

.one-section-div h1 {
    font-size: 48px;
    margin: 0;
    color: #f9faf8;
}

.one-section-div p {
    font-size: 18px;
    color: #e5e7eb;
}

.one-section-div button {
    background: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border-style: outset;
    border-color: #f9faf8;
}

a {
    text-decoration: none;
    color: #e5e7eb;
}

.img-one {
    max-width: 400px;
    max-height: 350px;
}

.two-section {
    height: 60vh;
    text-align: center;
    max-width: 100%;
}

.two-section h1 {
    padding: 20px;
    font-size: 36px;
    color: #1f2937;
}

.two-section-div {
    margin: 0 auto;
    max-width: 900px;
    display: flex;
    align-items: center;  
    justify-content: space-around;
    flex-wrap: wrap;
}

.img-two {
    max-width: 200px;
    max-height: 200px;
}

.three-section {
    height: 60vh;
    text-align: center;
    max-width: 100%;
    background: #e5e7eb;
    display: flex;
    align-items: center;
}

.three-section-div {
    margin: 0 auto;
    max-width: 900px;
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    display: flex;
    flex-direction: column;
}

.three-section-div p {
    margin: 10px;
}

.three-section-div span {
    align-self: flex-end;
    font-weight: bold;
    font-size: 30px;
}

.four-section {
    height: 60vh;
    display: flex;
    align-items: center;
   
}

.four-section-div {
    margin: 0 auto;
    max-width: 900px;
    background: #3882f6;
    display: flex;
    align-items: center;
    padding: 30px;
    gap: 10px;
}

.four-section-div h3 {
    color: #f9faf8;
    font-size: 36px;
    margin-bottom: 10px;
}

.four-section-div p {
    color: #e5e7eb;
    font-size: 24px;
}

.four-section-div button {
    background: #3882f6;
    color: #f9faf8;
    font-size: 18px;
    padding: 10px 30px 10px 30px;
    border-radius: 10px;
    border-style: outset;
    border-color: #f9faf8;
    font-weight: bold;
    border: 2px solid;
}

footer {
    background: #1f2937;
}

.footer {
    margin: 0 auto;
    font-size: 16px;
    color: #f9faf8;
    text-align: center;
}